- var container = "container-fluid"
- var row = "row"
- var col = "col-md-12"
- var team = "team"
- var text = "text-center"
- var cover = "cover"
- var overlay = "overlay"
- var style = "background:url('img/team/team-cover1.jpg'); background-size:cover;"

div(class=container)
	div(class=row)
		div(class=col)
			div(class=[team, text])
				div(class=cover style=style)
					div(class=[overlay, text])
						h3.white $69.00
						h5.light.light-white 1 - 5 sessions / month